@tailwind base;

@tailwind components;

@tailwind utilities;

.btn-primary {
  @apply .bg-blue-500 .text-white .transition .duration-150 .cursor-pointer .py-2 .px-8 .rounded;
}
.btn-primary:hover {
  @apply .bg-blue-700;
}

.btn-info {
  @apply .bg-teal-500 .text-white .transition .duration-150 .cursor-pointer .py-2 .px-8 .rounded;
}
.btn-info:hover {
  @apply .bg-teal-700;
}

.kartu {
  @apply .rounded .p-4 .border-2 .border-gray-100;
}
